.start-button
{
    -fx-background-radius: 5em ;
    -fx-min-width: 70px;
    -fx-min-height: 70px;
    -fx-max-width: 70px;
    -fx-max-height: 70px;
    -fx-background-color: black;
}

.comp_display
{
    /*-fx-background-color: linear-gradient(to bottom, #737373, #404040);*/
    -fx-background-color: #090909;
    -fx-border-color: #9C0505;
}

.page1_upbar
{
    -fx-background-color: linear-gradient(to top, #404040, #202020);
}

.page_screen
{
    -fx-background-color: #000000;
}

<<<<<<< HEAD
.time_temp
{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Bahnschrift;
}

.info_numbers{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.info_type
{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.menu_names
{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Bahnschrift;
}

.computer_nav {
    -fx-background-color: #404040;
    -fx-border-radius: 15px;
    -fx-color: #ffffff;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 5px 8px;
    -fx-text-decoration: none;
    -fx-text-fill: white;
}
=======
.button_emergency
{
    -fx-background-image: url('images/emergencylights.png');
}

>>>>>>> 32bdd704077c18eb5a893fdf2d89ebfd35eabd8b
